.footer {
    max-width: 1255px;
    width: 1000px;
    margin: 0 auto;
    gap: 50px;
    padding-top: 40px;
}
  
.footer nav {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background: #1A8B9D;
    gap: 20px;
    padding: 12px 75px;
}

.footer__logo{
    width: 65px;
    height: 42.06px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
}

.footer .footer__logo {
    width: 85px;
    height: 55px;
}

.footer a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    color: #fff;
}



.footer ul li:last-of-type {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}